body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color:black;
}
.calculator {
    width: 275px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
}
input{
    width: 90%;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.button {
    padding: 10px;
    font-size: 20px;
    background:transparent;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
}
.button:hover {
    background-color: grey;
}
#AC
{
    border: 2px solid;
}
#normal
{
    border: 2px solid;
}